/*input[type="submit"] {
	@include button;
}

div.main {
	@include grid-row;
}*/

.main {
	margin: 50px 100px 50px 100px;
}

footer {
	background-color: #000;
	color: #eee;
	text-align: right;
	padding-right: 80px;
	p {
		line-height: 60px;
	}
}
